div img {
    width: 80%;
}

.descripcion {
    margin-right: 2rem;
    margin-left: 2rem;
    border: 1px solid whitesmoke;
    padding: 2rem;
}

.content {
    margin: 5rem;
}

.titulo {
    text-align: center;
    margin: 2rem;
    text-decoration: solid black;
}