img {
    width: 55%;
}

h1 h2 {
    text-align: center;
}

ngb-carousel {
    background-color: rgb(248, 248, 248);
    border: 2px solid grey
}

div {
    text-align: center;
    justify-content: center;
    margin-top: 1rem;
}

button {
    margin-bottom: 1rem;
}

.titulo {
    padding: 1rem;
}