img {
    width: 50%;
}

tbody {
    background-color: whitesmoke;
}

table {
    margin: 3rem 3rem 3rem 3rem;
}

h2 {
    justify-content: center;
}

.empty {
    height: 70vh;
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.cart-empty {
    width: 70%;
    margin-bottom: 2rem;
}