<app-navbar></app-navbar>

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
</head>
<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile class="imagen"> <img src="../../assets/img/logohhb-removebg-preview.png" alt="Logo de la empresa"> </mat-grid-tile>
    <mat-grid-tile class="texto">
        <div class="divtexto">
            <h1 style="color:#ffffff;">Nuestra meta es cuidar de nuestro planeta</h1>
            <p style="color:#ffffff;">Creemos que toda la humanidad merece hogares y debería tener acceso a nuestros hogares cómodos, sostenibles y de cáñamo. Creemos que todas las personas merecen un hogar del que puedan estar orgullosos que sea cómodo y sostenible para muchas
                generaciones.
            </p><br>

            <p style="color:#ffffff;">Nuestro material exclusivo es el hormigón ligero reforzado con fibra fabricado con virutas y fibra de cáñamo industrial. Utilizamos material que ha demostrado ser un método de construcción rentable y sostenible con un bajo impacto ambiental
                y que se ha utilizado en la construcción en todo el mundo durante miles de años. Construimos estructuras sólidas y energéticamente eficientes utilizando nuestra tecnología de paneles inclinados hacia arriba o en el lugar de vertido.
            </p>

        </div>
    </mat-grid-tile>
    <mat-grid-tile class="contacto">

        <div class="redes-container">
            <div class="siguenos">
                <h2 style="color:#ffffff;">Siguenos en nuestras redes sociales:)</h2><br>
            </div>
            <div class="redes">
                <ul>
                    <li>
                        <a href="https://www.facebook.com/greenlawngrowshop" class="facebook"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                        <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="https://t.me/hemphousebuilding" class="telegram"><i class="fab fa-telegram"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile class="maps"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3149.1256378094913!2d-0.8103246853241393!3d37.880744413829724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd630f6f42c770dd%3A0x75aee0e48c5b1dee!2sGreen%20Lawn%20Grow%20Shop!5e0!3m2!1sru!2ses!4v1652308235856!5m2!1sru!2ses"
            width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> </mat-grid-tile>
</mat-grid-list>

<app-footer></app-footer>